# Node / Next
node_modules/
.next/
.env
.env.local
.env.*.local

# Editor / OS
.vscode/
.DS_Store
npm-debug.log
yarn-error.log

# Build / coverage
dist/
out/
coverage/

# Misc
.idea/
.vagrant/
.agent/rules/documentacion-esp.md
.gitignore
.gitignore
.agent/rules/pwa.md
.agent/rules/liberar-puertos.md
.agent/rules/doc-esp.md
.agent/rules/liberar-puerto.md
.agent/rules/pwa2.md
.gitignore
.agent/rules/git-workflow.md
next-env.d.ts

# PWA files
public/sw.js
public/workbox-*.js
public/worker-*.js
